

#gallery {
  text-align: center;
  background-color: white;
}

#categories {
  margin-bottom: 10px;
}

.category-button {
  margin: 5px;
}

#image-container {
  position: relative;
  width: 933px;
  height: 564px;
  margin: 0 auto;
  padding: 60px;
}

#current-image {
  width: 100%;
  height: 100%;
  object-fit: contain;
  cursor: pointer;
}

#prev-button,
#next-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 30px;
  height: 30px;
  font-size: 20px;
  background-color: transparent;
  border: none;
  color: #333;
  cursor: pointer;
}

#prev-button {
  left: 10px;
  width: 50px;
  height: 50px;
  background-color: var(--skyblue);
  color: white;
  border-radius: 40px;
  font-size: 38px;
  transition: .1s ease-in-out;
}

#next-button {
  right: 10px;
    width: 50px;
    height: 50px;
    background-color: var(--skyblue);
    color: white;
    border-radius: 40px;
    font-size: 38px;
    transition: .1s ease-in-out;
}

#prev-button:hover {
  left: 10px;
  width: 50px;
  height: 50px;
  background-color: var(--lightskyblue);
  color: white;
  border-radius: 40px;
  font-size: 38px;
  transition: .1s ease-in-out;
}

#next-button:hover {
  right: 10px;
    width: 50px;
    height: 50px;
    background-color: var(--lightskyblue);
    color: white;
    border-radius: 40px;
    font-size: 38px;
    transition: .1s ease-in-out;
}

.active {
  background-color: var(--skyblue);
  color: white;
}

.active:hover {
  background-color: var(--lightskyblue);
  color: white;
}

#modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  justify-content: center;
  align-items: center;
  z-index: 999;
}

#modal-image {
  max-width: 80%;
  max-height: 80%;
  object-fit: contain;
  cursor: pointer;
}

#close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 30px;
  color: #fff;
  cursor: pointer;
}

#modal-prev-button,
#modal-next-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 30px;
  height: 30px;
  font-size: 20px;
  background-color: transparent;
  border: none;
  color: #fff;
  cursor: pointer;
  padding: 100px;
  font-size: 35px;
}

#modal-prev-button {
  left: 10px;
}

#modal-next-button {
  right: 10px;
}

@media (orientation: portrait) and (min-width: 700px) {
  #image-container {
    position: relative;
    width: 700px;
    /* height: 830px; */
    margin: 0 auto;
    padding: 60px;
  }

  #close-button {
    position: absolute;
    top: 80px;
    right: 100px;
    font-size: 140px;
    color: #fff;
    cursor: pointer;
}

#modal-next-button {
  right: 20px;
  font-size: 140px;
  opacity: 0.6;
}

#modal-prev-button {
  left: 20px;
  font-size: 140px;
  opacity: 0.6;
}

.galNavigation {
  display: flex;
  max-width: 700px;
  margin: auto;
  padding-bottom: 35px;
  flex-direction: column;
}
.pamButtonNavigation {
  color: var(--skyblue);
  font-size: 45px;
  font-family: 'boldd';
  background-color: var(--white);
  border-radius: 15px;
  transition: 0.15s ease-in-out;
  padding: 5px 29px;
  margin: auto;
  margin-bottom: 15px;
}

#next-button {
  right: 10px;
  width: 50px;
  height: 130px;
  background-color: var(--skyblue);
  color: white;
  border-radius: 40px;
  font-size: 38px;
  transition: .1s ease-in-out;
  opacity: 0.5;
}

#prev-button {
  left: 10px;
  width: 50px;
  height: 130px;
  background-color: var(--skyblue);
  color: white;
  border-radius: 40px;
  font-size: 38px;
  transition: .1s ease-in-out;
  opacity: 0.5;
}

#next-button:hover {
  right: 10px;
  width: 50px;
  height: 140px;
  background-color: var(--lightskyblue);
  color: white;
  border-radius: 40px;
  font-size: 38px;
  transition: .1s ease-in-out;
}

#prev-button:hover {
  left: 10px;
  width: 50px;
  height: 140px;
  background-color: var(--lightskyblue);
  color: white;
  border-radius: 40px;
  font-size: 38px;
  transition: .1s ease-in-out;
}

.active {
  background-color: var(--skyblue);
  color: white;
}

.active:hover {
  background-color: var(--lightskyblue);
  color: white;
}

}


