.headerTop {
    display: flex;
    background-color: var(--bgcolor);
    align-items: center;
    max-width: 1172px;
    /*max-width: 1067px;*/
    margin: auto;
    padding: 20px 0px;
    /*padding: 25px 0px;*/
    justify-content: space-between;
}

.headerSocialINST{
    display: flex;
    align-items: center;
    justify-content: center;
    color:  var(--white);
    }
    
    .headerSocialVK{
        display: flex;
        align-items: center;
        justify-content: center;
        color:  var(--white);
        }

.headerLogoGroup{
    display: flex;
}

.headerLogoIcon {
    display: flex;
    align-items: center;
}

.headerLogoLogo img{
    max-height: 80px;
}

.headerLogo{
    display: flex;
    align-items: center;
}

.headerLogoLogo{
    display: flex;
    align-items: center;
}

.headerLogo img{
    max-height: 62px;
}

.headerSocial{
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

.headerSocial a {
    width: 70px;
    height: 70px;
    background-color: var(--skyblue);
    border-radius: 100px;
    margin-left: 18px;
}

.headerLocation {
    display: flex;
    width: 100%;
    font-size: 21px;
    margin-bottom: 3px;
    align-items: center;
}

.headerPhone {
    display: flex;
    width: 100%;
    font-size: 21px;
    align-items: center;
}

.headerContactsIconGeo{
    margin-right: 6px;
    margin-top: 4px;
}

.headerContactsIconPhone{
    margin-right: 4px;
    margin-top: 4px;
    margin-left: 1px;
}

.headerBot{
    background-color: var(--grey);
}

.headerMenu {
    display: flex;
    max-width: 1178px;
    margin: auto;
}

.headerMenuItemWrap a {
    display: block;
    padding: 16px 15px;
    font-family: medd;
    font-size: 19px;
    color: rgb(50, 50, 50);
    white-space: nowrap;
}

.headerMenuItemWrap{
    position: relative;
    flex-grow: 1;
    width: 100%;
    text-align: center;
    transition: 0.15s ease-in-out;
}

.headerMenuItemWrap:hover{
    background-color: var(--darkgrey);
}

.headerMenuItemLink:hover{
    color: rgb(99, 99, 99);
}

.headerDropdownList{
    position: absolute;
    max-height: 0px;
    transition: 0.5s ease-in-out;
    overflow: hidden;
    width: 100%;
}

.headerDropdownMenuItemWrapX{
    background-color: var(--grey);
    transition: 0.15s ease-in-out;
}

.headerDropdownMenuItemWrapX:hover{
    background-color: var(--darkgrey);
}

.headerDropdownMenuItemWrap:hover .headerDropdownList{
    max-height: 228px;
}

.headerDropdownMenuItemWrapX{
    width: 100%;
}

.mainBanner{
    background-image: url("../img/sky2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.mainBannerContent {
    display: flex;
    max-width: 1170px;
    margin: auto;
}

.mainBannerContentText {
    margin-top: 165px;
    padding: 0px 20px;
}

.mainBannerContent h2 {
    font-family: 'boldd';
    font-size: 43px;
    line-height: 52px;
    margin-bottom: 44px;
    letter-spacing: -1px;
}

.mainBannerContent h1 {
    font-size: 25px;
    font-family: 'medd';
    letter-spacing: -1px;
}

.mainBannerContent img {
    height: 523px;
    margin-top: 52px;
}

.pageBlockName {
    display: flex;
    justify-content: center;
    padding: 55px 0px;
    font-size: 44px;
    font-family: 'boldd';
}

.pageBlockNameDown {
    display: flex;
    justify-content: center;
    font-size: 24px;
    align-items: center;
    flex-direction: column;
    margin-top: -55px;
}

.pageBlockNameDown a{
    font-family: 'boldd';
    padding: 10px;
}


.pageBlockPadding{
    padding: 25px 0px;
}

.pageBlockSuggestions{
    max-width: 1175px;
    margin: auto;
}

.pageBlockSuggestionElements{
    display: flex;
    margin-bottom: 20px;
}

.pageBlockSuggestionElement1{
    width: 100%;
    background-image: url(../img/gravestone.png);
    background-position-x: 180px;
    background-position-y: 85px;
    background-repeat: no-repeat;
    background-size: 100%;
    margin-right: 20px;
    background-color: var(--white);
    border-radius: 20px;
    padding: 35px;
}    

.pageBlockSuggestionElement2{
    width: 100%;
    background-image: url(../img/ogrady.png);
    background-position-x: 319px;
    background-position-y: 94px;
    background-repeat: no-repeat;
    background-size: 45%;
    background-color: var(--white);
    border-radius: 20px;
    padding: 35px;
}

.pageBlockSuggestionElement3{
    display: flex;
    background-color: var(--white);
    border-radius: 20px;
    padding: 35px;
}

.pageBlockSuggestionElement3Text{
    width: 100%;
}

.pageBlockSuggestionElement3Difference{
    width: 100%;
}

.pageBlockSuggestionElement3DifferenceElements{
    height: 94%;
    margin: 10px 10px 10px 0px;
    box-shadow: rgb(50 50 93 / 25%) 0px 30px 60px -12px inset, rgb(0 0 0 / 30%) 0px 18px 36px -18px inset;
    border-radius: 14px;
}


.pageBlockSuggestionElementText h1 {
    font-family: 'boldd';
    font-size: 35px;
    margin-bottom: 15px;
    line-height: 105%;
}

.pageBlockSuggestionElementText h2{
    font-size: 22px;
    font-family: 'medd';
    margin-bottom: 25px;
    max-width: 320px;
    line-height: 125%;
}

.pageBlockSuggestionElement3Text h1{
    font-family: 'boldd';
    font-size: 36px;
    margin-bottom: 10px;
}

.pageBlockSuggestionElement3Text h2{
    font-size: 22px;
    font-family: 'medd';
    margin-bottom: 25px;
    min-width: 500px;
    line-height: 125%;
}

.pageBlockSuggestionsButton{
    color: var(--white);
    font-size: 22px;
    font-family: 'boldd';
    background-color: var(--skyblue);
    border-radius: 15px;
    transition: 0.15s ease-in-out;
    /* width: fit-content; */
    width: max-content;
    padding: 15px 25px;
    display: block;
    white-space: nowrap;
}

.pageBlockSuggestionsButton:hover{
    border-radius: 10px;
    background-color: var(--darkskyblue);
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px, rgba(0, 0, 0, 0.07) 0px 2px 2px, rgba(0, 0, 0, 0.07) 0px 4px 4px, rgba(0, 0, 0, 0.07) 0px 8px 8px, rgba(0, 0, 0, 0.07) 0px 16px 16px;
}

.pageBlockWhite {
    background-color: var(--white);
    padding: 35px 0px;
}

.pageBlockAdvantages {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 15px;
    grid-row-gap: 0px;
    max-width: 1050px;
    margin: auto;
    overflow: hidden;
}

.pageBlockAdvantagesElement1 { 
    grid-area: 1 / 1 / 2 / 2;
    padding: 25px 0px;
    max-width: 310px;
    margin: auto;
}

.pageBlockAdvantagesElement1 h1{
    font-size: 28px;
    font-family: 'boldd';
    letter-spacing: -1px;
    line-height: 95%;
    text-align: center;
    display: flex;
}

.pageBlockAdvantagesElement1 h2{
    font-size: 19px;
    max-width: 270px;
    min-width: 270px;
    text-align: justify;
    line-height: 110%;
    display: flex;
    margin: auto;
    padding: 6px 0px;
    font-family: 'medd';
    }
    
.pageBlockAdvantagesElement2 { 
    grid-area: 1 / 2 / 2 / 3;
    padding: 25px 0px;
    max-width: 310px;
    margin: auto;
}

.pageBlockAdvantagesElement2 .pageBlockAdvantagesElementLogo{
    margin-left: 25px;
}

.pageBlockAdvantagesElement2 h1{
    font-size: 28px;
    font-family: 'boldd';
    letter-spacing: -1px;
    line-height: 95%;
    text-align: center;
    display: flex;
}

.pageBlockAdvantagesElement2 h2{
    font-size: 19px;
    max-width: 270px;
    min-width: 270px;
    text-align: justify;
    line-height: 110%;
    display: flex;
    margin: auto;
    padding: 6px 0px;
    font-family: 'medd';
    }

.pageBlockAdvantagesElement3 { 
    grid-area: 1 / 3 / 2 / 4;
    padding: 25px 0px;
    max-width: 310px;
    margin: auto;
}

.pageBlockAdvantagesElement3 h1{
    font-size: 28px;
    font-family: 'boldd';
    letter-spacing: -1px;
    line-height: 95%;
    text-align: center;
    display: flex;
}

.pageBlockAdvantagesElement3 h2{
    text-align: justify;
    font-size: 19px;
    max-width: 270px;
    min-width: 270px;
    line-height: 110%;
    display: flex;
    margin: auto;
    padding: 6px 0px;
    font-family: 'medd';
    }

.pageBlockAdvantagesElementLogo{
    color: var(--skyblue);
    display: flex;
}

.pageBlockAdvantagesElementTitle{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
    width: 290px;
}

.pageBlockVTBBanner{
    background-color: var(--white);
    display: flex;
    margin: auto;
    max-width: 1250px;
    border-radius: 30px;
    transition: .35s ease-in-out;
}

.pageBlockVTBBanner:hover img{
    transform: rotate(360deg);
}

.pageBlockVTBBanner:hover{
    transform: scale(1.0125) translateY(-10px);
    box-shadow: 0 18px 28px 8px rgba(0, 0, 0, 0.062);
}

.pageBlockVTBBannerText {
    margin-left: 95px;
    margin-right: 72px;
    padding: 80px 0px;
}

.pageBlockVTBBannerText h1{
    color: var(--skyblue);
    font-size: 62px;
    font-family: 'boldd';
    letter-spacing: -1px;
    margin-bottom: 25px;
}

.pageBlockVTBBannerText h2{
    font-size: 27px;
    font-family: 'medd';
    max-width: 530px;
    margin-bottom: 30px;
}

.pageBlockVTBBannerText h3{
    margin-top: 25px;
    color: var(--almostblack);
    font-family: 'medd';
}

.pageBlockVTBBannerCard{
    padding: 97px 0px;
    overflow: hidden;
}

.pageBlockVTBBannerCard img{
    transform: rotate(353deg);
    width: 500px;
    transition: 0.635s ease-in-out;
    transition-delay: 0.135s;
}

.mainImageContainer
{
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    grid-template-rows: repeat(22, 5vw);
    grid-gap: 15px;
    max-width: 1200px;
    margin: auto;
    margin-bottom: 45px;
}
.pageBlockOurWorksImageContainer 
{
    width: 100%;
    height: 100%;
  
    border-radius: 20px;
   
    background-color: aliceblue;
    position: relative;
    overflow: hidden;
}



.zoom
{
    opacity: 0;
    transition: opacity .35s ease-in-out;
}
.zoom.hover
{
    opacity: 1; 
    transition: opacity .35s ease-in-out;
}
.pageBlockOurWorksImageContainer img 
{

   
   
   
    position: absolute;
    overflow: hidden;
  
}



.pageBlockOurWorksImageContainer:nth-child(1)
{
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 9;
}



.pageBlockOurWorksImageContainer:nth-child(2)
{
    grid-column-start: 5;
    grid-column-end: 10;
    grid-row-start: 1;
    grid-row-end: 7;
}


.pageBlockOurWorksImageContainer:nth-child(3)
{
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 9;
    grid-row-end: 17;
}


.pageBlockOurWorksImageContainer:nth-child(4)
{
    grid-column-start: 5;
    grid-column-end: 10;
    grid-row-start: 7;
    grid-row-end: 17;
}


.pageBlockOurWorksImageContainer:nth-child(5)
{
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 17;
    grid-row-end: 23;
}

.pageBlockOurWorksImageContainer:nth-child(6)
{
    grid-column-start: 4;
    grid-column-end: 7;
    grid-row-start: 17;
    grid-row-end: 23;
}

.pageBlockOurWorksImageContainer:nth-child(7)
{
    grid-column-start: 7;
    grid-column-end: 10;
    grid-row-start: 17;
    grid-row-end: 22;
}


.pageBlockOurWorksImageContainer:nth-child(8)
{
    grid-column-start: 7;
    grid-column-end: 10;
    grid-row-start: 22;
    grid-row-end: 23;
}

 .pageBlockOurWorksBlockButton a{
    color: var(--white);
    font-size: 25px;
    font-family: 'boldd';
}

 .pageBlockOurWorksBlockButton{
    background-color: var(--skyblue);
    border-radius: 20px;
    color: white;
    font-family: boldd;
    font-size: 24px;
    text-align: center;
    line-height: 4.8vw;
    transition: .25s ease-in-out;
}

.pageBlockOurWorksBlockButton:hover{
    border-radius: 27px;
    background-color: var(--darkskyblue);
}

.pageBlockReview {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 25px;
    grid-row-gap: 0px;
    max-width: 1250px;
    margin: auto;
    padding: 40px 0px 0px 0px;
}

.pageBlockReviewElement1 { 
    grid-column-start: 1;
    grid-column-end: 2;
    padding: 25px 0px;
}

.pageBlockReviewElement1 h1{
    font-size: 23px;
    font-family: 'boldd';
    letter-spacing: -1px;
    background-color: white;
    padding: 3px 10px 3px 10px;
    border-radius: 15px;
    margin: 13px 0px 0px 12px;
}

.pageBlockReviewElement1 h2{
    font-size: 21px;
    max-width: 400px;
    line-height: 116%;
    display: flex;
    background-color: white;
    padding: 15px 17px 15px 18px;
    border-radius: 20px;
    margin: 12px 0px 0px 0px;
    text-align: justify;
    font-family: 'medd';
    }
    
.pageBlockReviewElement2 { 
    grid-column-start: 2;
    grid-column-end: 3;
    padding: 25px 0px;
}

.pageBlockReviewElement2 h1{
    font-size: 23px;
    font-family: 'boldd';
    letter-spacing: -1px;
    background-color: white;
    padding: 3px 10px 3px 10px;
    border-radius: 15px;
    margin: 13px 0px 0px 12px;
}

.pageBlockReviewElement2 h2{
    font-size: 21px;
    max-width: 400px;
    line-height: 116%;
    display: flex;
    background-color: white;
    padding: 15px 17px 15px 18px;
    border-radius: 20px;
    margin: 12px 0px 0px 0px;
    text-align: justify;
    font-family: 'medd';
    }

.pageBlockReviewElement3 { 
    grid-column-start: 3;
    grid-column-end: 4;
    padding: 25px 0px;
}

.pageBlockReviewElement3 h1{
    font-size: 23px;
    font-family: 'boldd';
    letter-spacing: -1px;
    background-color: white;
    padding: 3px 10px 3px 10px;
    border-radius: 15px;
    margin: 13px 0px 0px 12px;
    white-space: nowrap;
}

.pageBlockReviewElement3 h2{
    font-size: 21px;
    max-width: 400px;
    line-height: 116%;
    display: flex;
    background-color: white;
    padding: 15px 17px 15px 18px;
    border-radius: 20px;
    margin: 12px 0px 0px 0px;
    text-align: justify;
    font-family: 'medd';
    }

.pageBlockReviewElementLogo{
    background-color: var(--darkgrey);
    height: 50px;
    width: 50px;
    border-radius: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.pageBlockReviewElementLogo img{
    height: 43px;
    width: 43px;
    border-radius: 69px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pageBlockReviewElementTitle{
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.pageBlockReviewElementTitleCity{
    display: flex;
    width: 100%;
    flex-direction: row-reverse;
}

.pageBlockReviewElementTitleCity h3{
    font-size: 21px;
    font-family: 'medd';
    color: var(--greygrey);
    padding: 12px 0px 0px 0px;
}

.pageBlockLocation{
    display: flex;
    margin: auto;
    max-width: 1170px;
    margin-top: 33px;
    margin-bottom: 100px;
}

.pageBlockLocationMap{
    width: 750px;
    height: 300px;
    background-image: url("../img/map.png");
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    background-position-x: 52%;
    background-position-y: 48%;
}

.pageBlockLocationContacts{
    padding: 22px 0px 0px 22px;
    margin-left: 32px;
}

.pageBlockLocationContantsTitle{
    display: flex;
    align-items: center;
    margin-bottom: 18px;
}

.pageBlockLocationContantsTitle h1{
    font-size: 20px;
    margin-left: 10px;
    width: 91px;
    font-family: 'medd';
}

.pageBlockLocationContantsTitle h2{
    font-size: 18px;
    max-width: 185px;
    min-width: 170px;
    margin-left: 28px;
    font-family: 'medd';
    /* text-align: center; */
}

.pageBlockLocationContantsLogo{
    height: 50px;
    min-width: 50px;
    background-color: var(--skyblue);
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pageBlockUpperFooter{
    width: 100%;
    height: 250px;
    background-color: white;
    border-radius: 45px 45px 0px 0px;
    display: flex;
}

.pageBlockUpperFooterTime{
    min-width: 196px;
    margin: auto;
}

.pageBlockUpperFooterTimeTitle{
    display: flex;
    align-items: center;
    justify-content: center;
}

.pageBlockUpperFooterTimeTitleLogo{
    display: flex;
    margin-bottom: 20px;
}

.pageBlockUpperFooterTimeTitleText{
    display: flex;
    margin-bottom: 20px;
}

.pageBlockUpperFooterTimeTitleText h1{
    font-size: 22px;
    font-family: 'medd';
    margin-left: 10px;
}

.pageBlockUpperFooterTimeTitleElement{
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 212px;
    font-size: 20px;
}

footer {
    display: flex;
    justify-content: center;
    padding: 11px;
    background-color: var(--grey);
    color: var(--almostblack);
}

footer p{
    font-size: 19px;
    font-family: "medd";
}

.pageBlockUpperFooterSiteMap{
    display: flex;
    margin: auto;
}

.pageBlockUpperFooterSiteMapElement{
    display: flex;
    flex-direction: column;
    padding: 0px 50px;
    min-width: 135px;
    text-decoration: none;
}

.pageBlockUpperFooterSiteMapElement a{
    text-decoration: none;
    color: black;
}

.pageBlockUpperFooterContent{
    display: flex;
    margin: auto;
    width: 1150px;
    overflow: hidden;
}

.pageBlockUpperFooterContentLogo img{
    padding-right: 122px;
    max-height: 115px;
}

























