@font-face {
    font-family: "blackk";
    src: url("../fonts/CeraPro-Black.woff");
  }
@font-face {
    font-family: "boldd";
    src: url("../fonts/CeraPro-Bold.woff");
  }
  @font-face {
    font-family: "medd";
    src: url("../fonts/CeraPro-Medium.woff");
  }
  @font-face {
    font-family: "regg";
    src: url("../fonts/CeraPro-Regular.woff");
  }
:root{
    --white:#FFFFFF;
    --grey:#F4F6FC;
    --darkgrey:#EBEBEB;
    --greygrey:#979797;
    --almostblack:#353535;
    --bgcolor:#F2F2F2;
    --skyblue:#007BFB;
    --lightskyblue:#3898ff;
    --darkskyblue:#0067d4;
}
*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    font-family: regg;
    font-weight: 400;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
   
}

body{
    background-color: var(--bgcolor);
}

.bordered{
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}

.back_to_top{
  position: fixed;
  bottom: 80px;
  right: 40px;
  z-index: 9999;
  display: none;
  cursor: pointer;
}

.back_to_top.shown {
  display: block;
}

.back_to_top svg {
  padding: 10px;
  fill: var(--skyblue);
  height: 50px;
  width: 50px;
  transition: 0.3s;
}








