.pamBanner{
  background-image: url("../img/sky2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.pamSuggestions{
  max-width: 1275px;
    margin: auto;
}

.vazSuggestions{
  max-width: 1275px;
    margin: auto;
}

.pamBannerContent {
  display: flex;
  max-width: 1170px;
  margin: auto;
}

.pamBannerContentText {
  margin-top: 45px;
  padding: 0px 106px;
}

.pamBannerContent h2 {
  font-family: 'boldd';
  font-size: 43px;
  line-height: 52px;
  letter-spacing: -1px;
  max-width: 648px;
}

.pamBannerContent img {
  pointer-events: none;
  height: 232px;
  margin-top: 16px;
}

.pamSuggestionElementsSecond {
  display: flex;
  margin-bottom: 20px;
}

.pamSuggestionElement2 {
  background-color: var(--white);
  border-radius: 20px;
  padding: 22px;
  margin-right: 10px;
  margin-left: 10px;
  max-width: 255px;
  min-width: 255px;
}

.pamSuggestionElement2big {
  background-color: var(--white);
  border-radius: 20px;
  padding: 22px;
  margin-right: 10px;
  margin-left: 10px;
  min-width: 892px;
}

.pamSuggestionElement2mid {
  background-color: var(--white);
  border-radius: 20px;
  padding: 22px;
  margin-right: 10px;
  margin-left: 10px;
  /* min-width: 574px; */
  min-width: 360px;
}

.pamSuggestionElementText {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
}

.pamSuggestionElementText h1 {
  font-family: 'boldd';
  font-size: 35px;
  margin-bottom: 15px;
  line-height: 105%;
}

.pamSuggestionElementText h2 {
  font-size: 20px;
  font-family: 'medd';
  margin-bottom: 25px;
  max-width: 320px;
  line-height: 125%;
}

.vaza-image img{
  pointer-events: none;
  max-height: 250px;
  padding-bottom: 12px;
}

.vaza-image-big img{
  pointer-events: none;
  max-height: 345px;
  max-width: 265px;
  border-radius: 19px;
  margin: 0px 23px;
}

.pamSuggestionsButton {
  color: var(--white);
  font-size: 22px;
  font-family: 'boldd';
  background-color: var(--skyblue);
  border-radius: 15px;
  transition: 0.15s ease-in-out;
  /* width: fit-content; */
  width: max-content;
  padding: 3px 43px;
  display: block;
  white-space: nowrap;
}

.pamButton {
  color: var(--white);
  font-size: 22px;
  font-family: 'boldd';
  background-color: var(--skyblue);
  border-radius: 15px;
  transition: 0.15s ease-in-out;
  padding: 3px 43px;
  display: block;
  white-space: nowrap;
  display: flex;
  justify-content: center;
}

.pamButton:hover {
  background-color: var(--darkskyblue);
  cursor: pointer;
}

.gallery-container {
  position: relative;
  height: 0;
  overflow: hidden;
  transition: height 0.3s ease-in-out;
}

.gallery-container.open {
  height: auto;
}

.gallery {
  display: none;
}

.gallery.active-gallery {
  display: flex;
  opacity: 0;
  animation: fade-in 0.3s ease-in-out forwards;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.active-gallery {
  display: flex;
}

.gallery-thumbnail {
  height: 228px;
}

.gallery-thumbnail.active {
  border: 2px solid red;
}

.image-container {
  position: relative;
  width: 100%;
  height: 600px;
  overflow: hidden;
  border-radius: 15px;
  margin-right: 10px;
  margin-top: 50px;
}

#main-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 1;
  transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
}

#main-image.fade-out {
  opacity: 0;
}

#main-image:hover {
  transform: scale(1.2);
}

.thumbnails {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.thumbnails img {
  width: 100px;
  height: 100px;
  border-radius: 15px;
  margin-bottom: 10px;
  cursor: pointer;
  opacity: 1;
  transition: opacity 0.3s ease-in-out;
}

.thumbnails img:hover {
  opacity: 0.8;
}

.thumbnail {
  border: 2px solid #F0F0F0;
}

.thumbnail.selected {
  border-color: #3898ff;
  transition: .2s ease;
}

#main-image-container:hover #main-image {
  transform: scale(1.2);
}

#main-image-container:hover .zoomed-image {
  opacity: 1;
}

.zoomed-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  background-image: url("");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 200% auto;
}


.pamBlockElementGalleryLeft{
  width: 300px;
}

.pamBlockElementGalleryRight{
  width: 100%;
  background-color: var(--white);
  border-radius: 20px;
  padding: 35px;
  margin-right: 20px;
  margin-bottom: 40px;
}

.pamBlockGalleryElement{

  background-color: var(--white);
  border-radius: 20px;
  padding: 5px;
  margin: 14px 20px;
}

.gallery-thumbnails-container {
  overflow-y: hidden;
  max-height: 610px;
  scroll-behavior: smooth;
}

.gallery-thumbnail {
  margin-bottom: 10px;
  cursor: pointer;
}

.thumbnail-nav-btn {
  background-color: white;
  font-size: 24px;
  padding: 5px 27px;
  cursor: pointer;
  border-radius: 15px;
  color: var(--skyblue);
  font-family: 'boldd';
  width: 18px;
  display: flex;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 10px;
}

.thumbnail-btn-container{
  display: flex;
  justify-content: center;
  padding: 10px 0;
}

.pamBlockElementGalleryLeft span{
  font-size: 23px;
  font-family: 'medd';
  margin-left: 33px;
}

.pamBlockElementGalleryRight span{
  font-size: 30px;
  font-family: 'boldd';
  margin-left: 15px;
  position: absolute;
  left: 25%;
}

.gallery-thumbnails-container {
  overflow: auto;
  scrollbar-width: thin; /* Для Firefox */
  scrollbar-color: transparent transparent; /* Для Firefox */
  }
  
  /* Для WebKit-браузеров (Chrome, Safari) */
  .gallery-thumbnails-container::-webkit-scrollbar {
  width: 0.5em;
  }
  
  .gallery-thumbnails-container::-webkit-scrollbar-track {
  background-color: transparent;
  }
  
  .gallery-thumbnails-container::-webkit-scrollbar-thumb {
  background-color: transparent;
  }

  #prev-thumbnail-btn,
  #next-thumbnail-btn {
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
  }
  
  #prev-thumbnail-btn.active,
  #next-thumbnail-btn.active {
    opacity: 1;
  }
  
.pageBlockWhitePam{
  width: 1000px;
  display: flex;
  margin: auto;
  flex-direction: column;
}

.pageBlockWhitePamLogo {
  height: 80px;
  width: 80px;
  background-color: var(--skyblue);
  border-radius: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pageBlockWhitePamLogoElement{
  display: flex;
  justify-content: center;
  align-items: center;
}

.pageBlockAdvantagesElementPam{
  width: 100%;
  padding: 10px 30px;
}

.PamCost{
  position: absolute;
  bottom: 0;
  right: 0;
}


.PamCostContainerText{
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding: 10px;
  font-size: 22px;
  font-family: 'boldd';
}

.PamCostContainerText a{
  background-color: white;
  border-radius: 10px;
}

.pageBlockSuggestionElement4{
  display: flex;
  background-color: white;
  border-radius: 20px;
  justify-content: center;
  margin: auto;
  flex-direction: column;
  padding: 37px;
  margin-bottom: 50px;
  
}

.pageBlockSuggestionElement4 span{
  font-size: 26px;
  font-family: 'medd';
}

.pageBlockSuggestionElement4 h1{
  font-size: 35px;
  font-family: 'boldd';
  padding: 10px 0;
}

.pageBlockSuggestionElement4 h2{
  font-size: 28px;
  font-family: 'medd';
  padding: 5px 10px;
}

.pageBlockSuggestionElementSecond22{
  width: 100%;
    background-image: url(../img/ogrady-iz-nerzhavejki.png);
    background-position-x: 331px;
    background-position-y: 82px;
    background-repeat: no-repeat;
    background-size: 42%;
    background-color: var(--white);
    border-radius: 20px;
    padding: 35px;
}

.pageBlockSuggestionElementSecond222{
  width: 100%;
  background-image: url(../img/grav.png);
  background-position-x: 339px;
  background-position-y: 82px;
  background-repeat: no-repeat;
  background-size: 38%;
  background-color: var(--white);
  border-radius: 20px;
  padding: 35px;  
}

.pamyatnikiNavigation{
  display: flex;
  max-width: 925px;
  margin: auto;
  padding-bottom: 35px;
}

.galNavigation{
  display: flex;
  max-width: 1300px;
  margin: auto;
  padding-bottom: 35px;
}

.pamButtonNavigation{
  color: var(--skyblue);
  font-size: 22px;
  font-family: 'boldd';
  background-color: var(--white);
  border-radius: 15px;
  transition: 0.15s ease-in-out;
  padding: 7px 43px;
  /* display: block; */
  white-space: nowrap;
  display: flex;
  justify-content: center;
  margin-left: 20px;
  margin-right: 20px;
}

.pamButtonNavigation:hover {
  background-color: #d6eaff;
  cursor: pointer;
}